#!/bin/bash

export S3_BUCKET_TEST="ip-jeju-airflow-local-test"
export S3_BUCKET_RAWS="ip-jeju-raws"
export S3_BUCKET_TRANSFORMED="ip-jeju-transformed"
export S3_BUCKET_AGGREGATE="ip-jeju-aggregate"

export AWS_REGION="ap-northeast-2"

export JEJU_DATA_HUB_KEY=""
